// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

	html, body {
		height: 100%;
		text-align: center;
		font-family: 'Times New Roman', Times, serif;
		background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
		padding: 20px;
	}
	h1, h2, h3{
			font-family: 'Nosifer';font-size: 22px;
			color:  rgba(39, 68, 236, 0.342);
			text-align: center;
			text-shadow: 2px 2px 5px rgb(245, 242, 92);
			padding: 14px 16px;
			&.p{ 
				float: left;
				color: black;
				font-size: 15px;
			}
		}
			.main-info, .contact-info, .content, .bottom-info {
				background-color: white;
				padding: 20px;
				
			}
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
		border-radius: 8px;
	}
	.topnav{
		overflow: hidden;
		background-color: #708090;
		a {
			float: left;
			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			&:hover{ 
				background-color: #ddd;
				color: black;
			} 
	}
	} 
	.footer {
		background-color: #f1f1f1;
		padding: 10px;
	}